<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PacketDotNet" version="0.16.0" targetFramework="net48" />
  <package id="SDL2-CS.dll" version="2.0.0.0" targetFramework="net48" />
  <package id="SharpPcap" version="4.4.0" targetFramework="net48" />
  <package id="Z80dotNet" version="1.0.6.0" targetFramework="net48" />
</packages>