# PERQemu configuration file
#
#   This is a standard pre-defined machine configuration.
#   Users may define their own configurations using the
#   command-line interface within PERQemu.
#
configure
default
name PERQ2
description "PERQ-2 w/16K CPU, 1MB"
chassis PERQ2
cpu PERQ1A
memory 1024
io board eio
option board none
display portrait
tablet kriz
drive 0 floppy
drive 1 disk8inch
done
