# PERQemu configuration file
#
#   This is a standard pre-defined machine configuration.
#   Users may define their own configurations using the
#   command-line interface within PERQemu.
#
configure
default
name PERQ2-T2
description "PERQ-2/T2 w/16K CPU, 2MB"
chassis PERQ2T2
cpu PERQ1A
memory 2048
io board eio
option board none
display landscape
tablet kriz
drive 0 floppy
drive 1 disk5inch
drive 2 disk5inch
done
