# PERQemu configuration file
#
#   This is a standard pre-defined machine configuration.
#   Users may define their own configurations using the
#   command-line interface within PERQemu.
#
configure
default
name PERQ1
description "Original PERQ w/4K CPU, 256KB"
chassis PERQ1
cpu PERQ1
memory 256
io board iob
option board none
display portrait
tablet bitpad
drive 0 floppy
drive 1 disk14inch
done
