# PERQemu configuration file
#
#   This is a standard pre-defined machine configuration.
#   Users may define their own configurations using the
#   command-line interface within PERQemu.
#
configure
default
name PERQ1A
description "Large PERQ-1A w/16K CPU, CIO, 2MB"
chassis PERQ1
cpu PERQ1A
memory 2048
io board cio
option board oio
display portrait
tablet bitpad
drive 0 floppy
drive 1 disk14inch
done
